{% macro list (params) %}
    <div class="row">
        <div class="col-md-12">
            <div class="section__heading-wr">
                <h2 class="section__heading{% if params.heading.mod %} {{ params.heading.mod }}{% endif %}">{{ params.heading.title}}</h2>
                <h3 class="section__subheading">{{ params.subheading}}</h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="categories-list clearfix">
        {% for item in params.list %}
            <div class="col-md-3">
                <div class="categories-list__item">
                    {% if item.img == 'categories-1' %}
                        {% include '../svg/categories/category-1.svg.twig' %}
                    {% elseif item.img == 'categories-2' %}
                        {% include '../svg/categories/category-2.svg.twig' %}
                    {% elseif item.img == 'categories-3' %}
                        {% include '../svg/categories/category-3.svg.twig' %}
                    {% elseif item.img == 'categories-4' %}
                        {% include '../svg/categories/category-4.svg.twig' %}
                    {% elseif item.img == 'categories-5' %}
                        {% include '../svg/categories/category-5.svg.twig' %}
                    {% elseif item.img == 'categories-6' %}
                        {% include '../svg/categories/category-6.svg.twig' %}
                    {% elseif item.img == 'categories-7' %}
                        {% include '../svg/categories/category-7.svg.twig' %}
                    {% elseif item.img == 'categories-8' %}
                        {% include '../svg/categories/category-8.svg.twig' %}
                    {% endif %}
                    <span>{{ item.title }}</span>
                </div>
            </div>
        {% endfor %}
        </div>
        {% if params.btn %}
            <div class="btn__wr _center">
                <button class="btn btn-{{ params.btn.mod }}-js" >
                    <span class="btn__text">{{ params.btn.title }}</span>
                </button>
            </div>    
        {% endif %}
    </div>
{% endmacro %}

{% macro breadcrumbs(crumbs) %}
    <div class="breadcrumbs">
        <ul class="breadcrumbs__list">
            {% for crumb in crumbs %}
                <li class="breadcrumbs__item">
                    {% if loop.last %}
                        <span class="breadcrumbs__link _active">{{ crumb.title }}</span>        
                    {% else %}
                        <a href="{{ crumb.path }}" class="breadcrumbs__link _active">{{ crumb.title }}</a><span class="breadcrumbs__divider">></span>        
                    {% endif %}
                </li>                        
            {% endfor %}
        </ul>
    </div>
{% endmacro %}

{% macro heading(params) %}
    <div class="section__heading-wr">
        {% if params.heading %}
            <h2 class="section__heading{% if params.heading.mod %} {{ params.heading.mod }}{% endif %}">
                {{ params.heading.title }}
            </h2>
        {% endif %}
        {% if params.subheading %}
            <h3 class="section__subheading {% if params.subheading.mod %}{{ params.subheading.mod }}{% endif %} ">{{ params.subheading.title }}</h3>
        {% endif %}
    </div>
{% endmacro %}

{% macro socials(socials) %}
    <ul class="socials">
        {% for social in socials %}
        <li class="socials__item">
            <a class="socials__link">
                {{ svg.icon({"name": social.title, "mod": social.mod}) }}
            </a>
        </li>
        {% endfor %}
    </ul>
{% endmacro %}