{% macro breadcrumbs(crumbs) %}
    <div class="breadcrumbs">
        <ul class="breadcrumbs__list">
            {% for crumb in crumbs %}
                <li class="breadcrumbs__item">
                    {% if loop.last %}
                        <span class="breadcrumbs__link _active">{{ crumb.title }}</span>        
                    {% else %}
                        <a href="{{ crumb.path }}" class="breadcrumbs__link _active">{{ crumb.title }}</a><span class="breadcrumbs__divider">></span>        
                    {% endif %}
                </li>                        
            {% endfor %}
        </ul>
    </div>
{% endmacro %}

{% macro heading(params) %}
    <div class="section__heading-wr">
        {% if params.heading %}
            <h2 class="section__heading{% if params.heading.mod %} {{ params.heading.mod }}{% endif %}">
                {{ params.heading.title }}
            </h2>
        {% endif %}
        {% if params.subheading %}
            <h3 class="section__subheading {% if params.subheading.mod %}{{ params.subheading.mod }}{% endif %} ">{{ params.subheading.title }}</h3>
        {% endif %}
    </div>
{% endmacro %}

{% macro socials(socials) %}
    <ul class="socials">
        {% for social in socials %}
        <li class="socials__item">
            <a class="socials__link">
                {{ svg.icon({"name": social.title, "mod": social.mod}) }}
            </a>
        </li>
        {% endfor %}
    </ul>
{% endmacro %}